.TodosView {
  @mixin container;

  .ProjectList {
    &-projects {
      overflow-y: auto;
      flex-grow: 1;
    }

    &-item {
      padding: 0.5vr;
      cursor: pointer;
      @mixin like-a-h;

      &.is-disabled {
        cursor: default;
        color: $color-secondary;
      }

      &.is-open {
        background-color: yellow;
      }
    }

    &-add-project {
      height: 80px;
    }
  }

  .ProjectTodosList {
    width: $right-width;
    min-height: 800px;

    background-color: white;
    border: $light-border;

    padding: 1.5vr 2vr;

    &-task-input {
      @mixin like-input;
    }

    .Expandable {
      margin-top: 1.5vr;

      &-content {
        padding-left: 2vr;
      }
    }

    .Todo-nothing {
      margin-top: 1vr;
    }

    .Todo {
      margin: 1vr 0 1.5vr -0.5vr;
      cursor: pointer;

      &-name {
        margin-left: 0.5vr;
      }
    }
  }
}
