.TodosView {
  .ProjectList {
    &-projects {
      overflow-y: auto;
      flex-grow: 1;
    }

    &-item {
      padding: 0.5vr;
      cursor: pointer;
      @mixin like-a-h;

      &.is-disabled {
        cursor: default;
        color: $color-secondary;
      }

      &.is-open {
        background-color: yellow;
      }
    }

    &-add-project {
      height: 80px;
    }
  }

  .ProjectTodosList {
    background-color: white;
    border: $light-border;

    padding: 1.5vr 2vr;

    &-task-input {
      @mixin like-input;
    }

    .Expandable {
      margin-top: 1.5vr;
    }

    .Todo-nothing {
      margin-top: 1vr;
    }

    .Todo {
      margin: 1vr 0 1vr -0.5vr;
      padding-left: 1.5vr;

      cursor: pointer;

      position: relative;

      .Icon-done {
        visibility: hidden;
        position: absolute;
        left: 0;
      }

      &:hover .Icon-done {
        visibility: visible;
      }
    }
  }
}
