$header-height: 45px;
$content-width: 620px;
$toolbar-width: 300px;
$left-pane-width: 300px;
$middle-pane-width: 920px;

.Page {
  position: relative;

  min-height: 100%;
  padding-top: $header-height;
  display: flex;

  .LeftPane {
    position: fixed;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: $left-pane-width;
  }

  .MiddlePane {
    display: flex;
    width: $middle-pane-width;
    margin-left: $left-pane-width;

    .Content {
      padding: 1vr 0 1vr 2vr;
      width: $content-width;
    }

    .Toolbar {
      position: fixed;
      margin-left: $content-width;
      width: $toolbar-width;
    }
  }
}

.Header {
  height: $header-height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background-color: #fafafa;
  border-bottom: $light-border;

  text-align: center;

  &-link {
    color: #5c5c5c;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 10px;

    &.is-active {
      border-bottom: 2px solid $color-primary;
    }
  }

  &-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 100%;

    .Button {
      vertical-align: middle;
      height: 100%;
    }
  }
}
