$base-bg-color: #fff;
$base-font-color: #333;
$base-font-size: 16px;
$base-line-height: 1.4;

/*       MIXINS        */

@define-mixin like-a-h {
  text-rendering: optimizelegibility;
  font-weight: 600;
}

@define-mixin like-secondary {
  font-weight: 400;
}

@define-mixin paper-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*       BASIC STYLES        */

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height Open Sans, Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*       COMPONENTS        */

.NotesPage {
  $left-width: 350px;
  $border: 1px solid #E6E0E6;

  position: relative;

  &-left {
    position: fixed;
    top: 0;
    left: 0;
    width: $left-width;
    height: 100%;
    overflow-y: auto;
    border-right: $border;
  }

  &-center {
    margin-top: 2vh;
    margin-left: $left-width;
    text-align: center;
  }

  .NoteRecord {
    color: $base-font-color;
    border-bottom: $border;
    padding: 0.5vr 1vr;
    cursor: pointer;

    &-title {
      @mixin like-a-h;
    }

    &-time {
      @mixin like-secondary;
      color: rgba(0,0,0,.44);
    }

    &:hover {
      background-color: #E6E0E6;
    }

    &.is-open {
      background-color: yellow;
    }
  }

  .Note {
    display: inline-block;
    text-align: left;

    width: 600px;
    min-height: 300px;

    padding: 1vr;
    margin: 1vr 0;

    @mixin paper-shadow;
  }
}
