.NotesView {
  margin-top: $header-h;
  position: relative;

  $left-width: 320px;
  $right-width: 550px;

  &-left {
    position: fixed;
    right: 58%;

    width: $left-width;
    height: calc(100% - $header-h);

    display: flex;
    flex-direction: column;
  }

  &-center {
    width: 58%;
    margin-left: 42%;
    padding-top: 1vr;
  }

  &-list {
    overflow-y: auto;
  }

  &-recordsCount {
    padding-top: 5px;
    text-align: center;
  }

  .RecordsFilter {
    margin-top: 10px;
    width: 100%;
  }

  .NoteRecord {
    color: $base-font-color;
    border-bottom: $light-border;
    padding: 0.5vr 1vr;
    cursor: pointer;

    &-title {
      @mixin like-a-h;
    }

    &-time {
      @mixin like-secondary;
    }

    &:hover {
      background-color: #E6E0E6;
    }

    &.is-open {
      background-color: yellow;
    }

    &.is-hidden {
      display: none;
    }
  }

  @define-mixin NoteContainer {
    width: $right-width;
    min-height: 300px;

    padding: 0 1vr 1vr;
    margin: 0 1vr 1vr;

    background-color: white;
    @mixin paper-shadow;

    &-toolbar {
      padding-top: 0.5vr;
      text-align: right;

      .Button {
        margin-left: 0.5vr;
      }
    }

    &-files {
      display: flex;
      flex-wrap: wrap;

      border-top: $light-border;
      margin-top: 1vr;
      padding: 0.5vr 0;

      &.is-hidden {
        display: none;
      }
    }
  }

  .Note {
    @mixin NoteContainer;
    display: flex;
    flex-direction: column;

    &-name {
      margin-top: 0;
    }

    &-data {
      @mixin like-pre;
      flex: 1;
    }
  }

  .NoteEditor {
    @mixin NoteContainer;

    &-name,
    &-data,
    .FilePicker,
    &-files {
      margin-top: 0.5vr;
    }

    &-name, &-data {
      display: block;
      width: 100%;
    }

    &-name {
      @mixin like-a-h;
    }

    &-data {
      height: 190px;
    }

    .FilePicker {
      text-align: right;
    }

    &-files {
      .FileLink {
        .remove {
          font-size: 0.85em;
          padding-left: 5px;
        }
      }
    }
  }
}

.AddNoteModal.Modal {
  width: 400px;

  .ModalTitle {
    text-align: center;
  }

  input {
    width: 100%;
  }
}

.FilePicker {
  form {
    display: none;
  }
}

.UploadFileModal.Modal {
  width: 500px;

  .fileName {
    width: 100%;
  }

  .fileType, .fileSize {
    display: inline-block;
    margin-top: 0.5vr;
    margin-left: 0.5vr;
    @mixin like-secondary;
  }

  .error-msg {
    margin-top: 1vr;
    color: $color-error;
  }

  .uploading {
    color: $color-progress;
  }
}

.FileLink {
  font-size: 0.85em;
  margin: 0.5vr;

  max-width: 100%;
  display: flex;
  align-items: center;

  a {
    color: #00695c;
    font-weight: 600;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .size {
    padding-left: 5px;
    font-size: 0.75em;
    @mixin like-secondary;
  }
}
