.NotesView {
  @mixin container;

  &-list {
    overflow-y: auto;
  }

  &-recordsCount {
    padding-top: 5px;
    text-align: center;
  }

  .RecordsFilter {
    margin-top: 10px;
    width: 100%;
  }

  .NoteRecord {
    color: $base-font-color;
    border-bottom: $light-border;
    padding: 0.5vr 1vr;
    cursor: pointer;

    &-title {
      @mixin like-a-h;
    }

    &-time {
      @mixin like-secondary;
    }

    &:hover {
      background-color: #E6E0E6;
    }

    &.is-open {
      background-color: yellow;
    }

    &.is-hidden {
      display: none;
    }
  }

  .NoteContainer {
    display: flex;

    .Toolbar {
      position: fixed;
      margin-left: calc($right-width + 2vr + 10px);

      display: flex;
      flex-direction: column;

      .title {
        text-transform: uppercase;
        margin: 0.5vr 0;

        @mixin like-a-h;

        &:first-child {
          margin-top: 0;
        }
      }

      &-action {
        margin: 0 0 0.5vr;
        text-align: left;
      }

      .FileLink {
        margin: 0 0 0.5vr;
        max-width: 320px;
      }
    }
  }

  .Note, .NoteEditor {
    width: $right-width;
    min-height: 300px;

    padding: 1vr 2vr;
    margin: 0 1vr;

    background-color: white;
    border: $light-border;
  }

  .Note {
    &-name {
      margin-top: 0;
    }

    &-data {
      @mixin like-pre;
      flex: 1;
    }
  }

  .NoteEditor {
    &-name, &-data {
      display: block;
      width: 100%;
      margin-top: 0.5vr;
    }

    &-name {
      @mixin like-a-h;
    }

    &-data {
      height: 190px;
    }
  }
}

.AddNoteModal.Modal {
  width: 400px;

  .ModalTitle {
    text-align: center;
  }

  input {
    width: 100%;
  }
}

.FilePicker {
  form {
    display: none;
  }
}

.UploadFileModal.Modal {
  width: 500px;

  .fileName {
    width: 100%;
  }

  .fileType, .fileSize {
    display: inline-block;
    margin-top: 0.5vr;
    margin-left: 0.5vr;
    @mixin like-secondary;
  }

  .error-msg {
    margin-top: 1vr;
    color: $color-error;
  }

  .uploading {
    color: $color-progress;
  }
}

.FileLink {
  font-size: 0.85em;
  margin: 0.5vr;

  max-width: 100%;
  display: flex;
  align-items: center;

  a {
    color: #00695c;
    font-weight: 600;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .size {
    padding-left: 5px;
    font-size: 0.75em;
    @mixin like-secondary;
  }

  .Button {
    font-size: 0.85em;
    padding-left: 5px;
  }
}
