@import 'sanitize.css';

html {
  font-size: 1.125rem; /* usually 18px */
  font-family: -apple-system, BlinkMacSystemFont, /* Safari Mac/iOS, Chrome */
    "Segoe UI", Roboto, Oxygen, /* Windows, Android, KDE */
    Ubuntu, Cantarell, "Fira Sans", /* Ubuntu, Gnome, Firefox OS */
    "Droid Sans", "Helvetica Neue", sans-serif; /* Old Android */

  overflow-y: scroll;
}

body {
  font-weight: 400;
  line-height: 1.45;

  background-color: #fafafa;
  color: #333;
}
