* {
  box-sizing: border-box;
}

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height $font-common;
}

html, body, #app, .App {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=text], textarea {
  border: $light-border;
  padding: 5px 10px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  @mixin like-pre;
}

img {
  border-radius: 3px;
  @mixin lite-shadow;
}

.App {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow-y: scroll;
}
