* {
  box-sizing: border-box;
}

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height $font-common;
  overflow-y: scroll;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=text], textarea {
  border: $light-border;
  padding: 5px 10px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  @mixin like-pre;
}

img {
  border-radius: 3px;
  @mixin lite-shadow;
}

/*       COMMON        */

$header-h: 45px;

.ViewContainer {
  margin-top: $header-h;
  position: relative;
}

.Header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  height: $header-h;

  background-color: #fafafa;
  border-bottom: $light-border;

  text-align: center;

  &-link {
    color: #5c5c5c;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 10px;

    &.is-active {
      border-bottom: 2px solid $color-primary;
    }
  }

  &-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 100%;

    .Button {
      vertical-align: middle;
      height: 100%;
    }
  }
}
