$base-bg-color: #fff;
$base-font-color: #333;
$base-font-size: 16px;
$base-line-height: 1.4;

$light-border: 1px solid #E6E0E6;

$color-primary: #4078c0;
$color-secondary: #bdbdbd;
$color-dangerous: #dd2c00;
$color-error: #dd2c00;
$color-progress: #388e3c;

$link-color: $color-primary;

$font-monospace: Menlo, Monaco, "Courier New", monospace;
$font-common: Open Sans, Helvetica, Arial, sans-serif;

/*       MIXINS        */

@define-mixin like-a-h {
  text-rendering: optimizelegibility;
  font-weight: 600;
}

@define-mixin like-secondary {
  font-weight: 400;
  color: rgba(0,0,0,.44);
}

@define-mixin paper-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@define-mixin lite-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

@define-mixin like-pre {
  font-family: $font-common;

  white-space: pre;
  white-space: pre-wrap;

  word-break: break-all;
  word-wrap: break-word;
}

/*       BASIC STYLES        */

* {
  box-sizing: border-box;
}

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height $font-common;
  overflow-y: scroll;
}


h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=text], textarea {
  border: $light-border;
  padding: 5px 10px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  @mixin like-pre;
}

img {
  border-radius: 3px;
  @mixin lite-shadow;
}


/*       COMMON        */
