$color1: #263238;
$color2: #BAE5D9;

$base-bg-color: $color1;
$base-font-color: $color2;
$base-font-size: 16px;
$base-line-height: 1.4;

$link-color: $color2;

$border: 2px solid $color2;

$font-monospace: Menlo, Monaco, "Courier New", monospace;
$font-common: Open Sans, Helvetica, Arial, sans-serif;

/*       MIXINS        */

@define-mixin like-a-h {
  text-rendering: optimizelegibility;
  font-weight: 600;
}

@define-mixin like-secondary {
  font-weight: 400;
}

@define-mixin lite-shadow {
  box-shadow: 0 1px 4px $color2;
}

@define-mixin like-pre {
  font-family: $font-common;

  white-space: pre;
  white-space: pre-wrap;

  word-break: break-all;
  word-wrap: break-word;
}

/*       BASIC STYLES        */

* {
  box-sizing: border-box;
}

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height $font-common;
  overflow-y: scroll;
}


h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=text], textarea {
  border: $border;
  padding: 5px 10px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  @mixin like-pre;
}

img {
  border-radius: 3px;
  @mixin lite-shadow;
}


/*       COMMON        */

.List {
  display: inline-block;
  padding: 1vr;
  margin: 1vr;

  border: 2px solid $color2;
  box-shadow: 0 0 10px $color2;
}
