$base-bg-color: #fff;
$base-font-color: #333;
$base-font-size: 16px;
$base-line-height: 1.4;

$light-border: 1px solid #E6E0E6;

$color-primary: #4078c0;
$color-secondary: #bdbdbd;
$color-dangerous: #dd2c00;
$color-error: #dd2c00;
$color-progress: #388e3c;

$link-color: $color-primary;

$font-monospace: Menlo, Monaco, "Courier New", monospace;
$font-common: Open Sans, Helvetica, Arial, sans-serif;

/*       MIXINS        */

@define-mixin like-a-h {
  text-rendering: optimizelegibility;
  font-weight: 600;
}

@define-mixin like-secondary {
  font-weight: 400;
  color: rgba(0,0,0,.44);
}

@define-mixin paper-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@define-mixin lite-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

@define-mixin like-pre {
  font-family: $font-common;

  white-space: pre;
  white-space: pre-wrap;

  word-break: break-all;
  word-wrap: break-word;
}

/*       BASIC STYLES        */

* {
  box-sizing: border-box;
}

html {
  background: $base-bg-color;
  color: $base-font-color;
  /* for postcss-vertical-rhythm */
  font: $base-font-size/$base-line-height $font-common;
  overflow-y: scroll;
}


h1, h2, h3, h4, h5, h6 {
  @mixin like-a-h;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type=text], textarea {
  border: $light-border;
  padding: 5px 10px;
}

a,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  @mixin like-pre;
}

img {
  border-radius: 3px;
  @mixin lite-shadow;
}


/*       COMMON        */

.LinkButton {
  border: 0 none;
  background-color: inherit;
  padding: 0;
  &:focus {
    outline: none;
  }

  cursor: pointer;
  color: $color-primary;
  font-weight: 600;

  &.is-dangerous {
    color: $color-dangerous;
  }

  &.is-secondary {
    color: $color-secondary;
  }
}

.FileLink {
  font-size: 0.85em;
  margin: 0.5vr;

  max-width: 100%;
  display: flex;
  align-items: center;

  a {
    color: #00695c;
    font-weight: 600;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .size {
    padding-left: 5px;
    font-size: 0.75em;
    @mixin like-secondary;
  }
}

.ModalsContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  &.is-hidden {
    display: none;
  }

  &-backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
  }

  .Modal {
    position: relative;
    background-color: $base-bg-color;

    width: 50%;
    max-width: 768px;

    min-height: 150px;

    margin: 10% auto;

    padding: 0.5vr 1vr;

    @mixin paper-shadow;
    border-radius: 2px 2px;

    .ModalTitle {
      margin: 0.5vr 0;
    }

    .ModalBody {
      padding: 0.5vr 0;
    }

    .ModalFooter {
      padding: 0.5vr 0;
      text-align: center;

      .LinkButton {
        margin: 0 1vr;
      }
    }
  }
}

.ToastsContainer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;

  max-width: 30%;

  display: flex;
  flex-direction: column;

  .Toast {
    overflow-x: hidden;
    text-overflow: ellipsis;

    margin: 0.5vr 0.5vr 0 0;
    padding: 0.5vr;

    border: $light-border;
    opacity: 0.91;

    @mixin lite-shadow;

    &.is-normal {
      background-color: #dcedc8;
    }

    &.is-error {
      background-color: #ef5350;
    }
  }
}

.Link {
  &:hover {
    text-decoration: none;
  }
}


/*       PAGES        */

$header-h: 45px;

.Header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  height: $header-h;

  background-color: #fafafa;
  border-bottom: $light-border;

  text-align: center;

  .Link {
    color: #5c5c5c;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 10px;

    &.is-active {
      border-bottom: 2px solid $color-primary;
    }
  }

  &-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 100%;
  }
}

.PageContainer {
  margin-top: $header-h;
}

.NotesPage {
  $left-width: 350px;
  $border: $light-border;

  position: relative;

  &-left {
    position: fixed;
    top: $header-h;
    left: 0;

    width: $left-width;
    height: 100%;

    border-right: $border;
  }

  &-center {
    margin-left: $left-width;
    padding-top: 2vr;
  }

  &-plus {
    vertical-align: middle;
    height: 100%;
  }

  $filter-height: 60px;

  .SearchBox {
    height: $filter-height;
    padding: 0 1vr;

    border-bottom: $border;

    .RecordsFilter {
      margin-top: 10px;
      width: 100%;
    }
  }

  .NoteRecordsList {
    height: calc(100% - $filter-height);
    overflow-y: auto;
  }

  .NoteRecord {
    color: $base-font-color;
    border-bottom: $border;
    padding: 0.5vr 1vr;
    cursor: pointer;

    &-title {
      @mixin like-a-h;
    }

    &-time {
      @mixin like-secondary;
    }

    &:hover {
      background-color: #E6E0E6;
    }

    &.is-open {
      background-color: yellow;
    }

    &.is-hidden {
      display: none;
    }
  }

  @define-mixin NoteContainer {
    width: 600px;
    min-height: 300px;

    padding: 0 1vr 1vr;
    margin: 0 auto 1vr;

    @mixin paper-shadow;

    &-toolbar {
      padding-top: 0.5vr;
      text-align: right;

      .LinkButton {
        margin-left: 0.5vr;
      }
    }

    &-files {
      display: flex;
      flex-wrap: wrap;

      border-top: $border;
      margin-top: 1vr;
      padding: 0.5vr 0;

      &.is-hidden {
        display: none;
      }
    }
  }

  .Note {
    @mixin NoteContainer;
    display: flex;
    flex-direction: column;

    &-name {
      margin-top: 0;
    }

    &-data {
      @mixin like-pre;
      flex: 1;
    }
  }

  .NoteEditor {
    @mixin NoteContainer;

    &-name,
    &-data,
    .FilePicker,
    &-files {
      margin-top: 0.5vr;
    }

    &-name, &-data {
      display: block;
      width: 100%;
    }

    &-name {
      @mixin like-a-h;
    }

    &-data {
      height: 190px;
    }

    .FilePicker {
      text-align: right;
    }

    &-files {
      .FileLink {
        .remove {
          font-size: 0.85em;
          padding-left: 5px;
        }
      }
    }
  }
}

.AddNoteModal.Modal {
  width: 400px;

  .ModalTitle {
    text-align: center;
  }

  input {
    width: 100%;
  }
}

.FilePicker {
  form {
    display: none;
  }
}

.UploadFileModal.Modal {
  width: 500px;

  .fileName {
    width: 100%;
  }

  .fileType, .fileSize {
    display: inline-block;
    margin-top: 0.5vr;
    margin-left: 0.5vr;
    @mixin like-secondary;
  }

  .error-msg {
    margin-top: 1vr;
    color: $color-error;
  }

  .uploading {
    color: $color-progress;
  }
}
